* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}
 
:target {
    /*stop 45px above the target*/
    scroll-margin-top: 45px;
}

main {
    --primary-color-maria: #FE1672;
    --pink-dark: #D61261;
    --pink-light: #FF4D9E;
    --yellow: #FFE600;
    --white: #FFFFFF;

    position: relative;
    background: var(--primary-color-maria);
}

.bg-white {
    background-color: var(--white);
}

.bg-pink {
    background-color: var(--primary-color-maria);
}

.logo-sn {
    width: 170px;
}

.menu {
    width: 50px;
}

.navbar {
    background: var(--pink-dark);
}

.navbar-toggler {
    display: flex;
    align-items: center;
}

.nav-menu-name {
    color: var(--white);
}

.nav-m {
    display: flex;
    justify-content: center;
}

.nav-item-m {
    padding: 0px 20px !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--white) !important;
}

.nav-item:hover {
    color: var(--pink-light) !important;
}

.nav-link.active {
    color: var(--white) !important;
}

.nav-fixed {
    position: fixed !important; 
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 20;
}

.navbar-toggler:focus {
    outline: 0px;
}

.banners-m {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px auto;
    padding: 30px 0;
    background-color: var(--pink-dark);
}

.only-mobile {
    display: none;
}

.only-desktop {
    display: none;
}

.photo-arrelique {
    max-width: 400px;
    animation: float 6s ease-in-out infinite;
}

.banner-arrelique-img {
    width: 300px;
}

.info-banner {
    padding: 10px;
    max-width: 400px;
    color: var(--white);
}

.info-h2 {
    font-size: 1.8rem;
    font-weight: 800;
}

.info-details {
    margin: 25px 0;
}

.info-detail {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.info-p {
    margin: 0 0 0 10px;
    font-weight: 700;
}

.info-h3 {
    margin-bottom: 35px;
    font-size: 1.3rem;
    font-weight: 800; 
}

.info-a {
    display: inline-block;
    width: 342px;
    font-size: 1.2rem !important;
    animation: pulsar 2s infinite;
}

.info-a:hover {
    display: inline-block !important;
}

.content-btn-buy {
    margin: 20px auto;
    text-align: center;
}

/*Who like*/
.title-who {
    margin-bottom: 15px;
    padding: 15px 0;
    text-align: center;
    background-color: var(--pink-dark);
    color: var(--white);
}

.title-who h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
}

.videos-m {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    max-width: 1300px;
}

.video-container {
    position: relative;
    margin: 30px 15px;
}

.play-video {
    position: absolute;
    z-index: 1;
    width: 100%;
    margin: 0px;
    top: 15%;
    left: 35%;
    cursor: pointer;
    width: 130px;
}

.play-img {
    margin: auto;
    opacity: .5;
    width: 130px;
}

.video-women {
    margin: 0px;
    max-width: 400px;
    border: 10px solid var(--white);
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

/*Benefits*/

#benefits {
    padding: 30px 0;
    background: var(--white);
}

.benefits-title {
    margin: 30px 0;
    padding: 15px 0;
    text-align: center;
    background: var(--pink-dark);
    color: var(--white);
}

.benefits-title h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
}

.benefit-p {
    padding-left: 15px;
    font-family: 'Montserrat', sans-serif;
}

.content-cards {
    margin: auto;
    max-width: 1060px;
}

.compose-m {
    max-width: 450px;
    color: var(--pink-dark);
}

.compose-m p {
    font-size: 1.5rem;
    font-weight: bold;
}

.cards-m {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-benefit {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 15px 15px 0;
    padding: 20px;
    max-width: 300px;
    min-height: 380px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 30%);
    background: var(--primary-color-maria);
    color: var(--white);

}

.card-benefit-p {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    opacity: 0;
}

.slide-left {
    animation: slide-left 2s ease-in-out forwards;
}

.font-bold-m {
    font-weight: 800;
}

.icon-height {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.card-benefit img {
    padding: 15px;
    width: 90px;
}

/*TO WHO*/

.to-who-title {
    margin: 30px 0;
    padding: 15px 0;
    text-align: center;
    background: var(--pink-dark);
    color: var(--white);
}

.to-who-title h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
}

.cards-woman {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 950px;
    margin: auto;
}

.base-total-woman {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    min-height: 270px;
    max-width: 245px;
}

.base-total-woman h3 {
    padding-top: 5px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #8d0d40;
}

.base-card-woman {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: var(--white);
}

.card-woman {
    margin: auto;
    width: 180px;
    height: 180px;
}

.card-woman-img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 30%);
    opacity: 0;
}

.slide-top {
    animation: slide-top 1s ease-in-out forwards;
}

/*Waves*/

.waves {
    position: relative;
    width: 100%;
    height: 100px;
    background: var(--primary-color-maria);
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75px;
    background-image: url(../images/wave-w.png);
    background-size: 1000px 75px;
}

#wave-1 {
    z-index: 10;
    opacity: 1;
    background-position-x: 400px;
    animation: moveWave1 6s ease-in-out infinite alternate;
}

#wave-2 {
    z-index: 9;
    opacity: .7;
    background-position-x: 300px;
    animation: moveWave2 4s ease-in-out infinite alternate;
}

#wave-3 {
    z-index: 8;
    opacity: .5;
    background-position-x: 200px;
    animation: moveWave3 3s ease-in-out infinite alternate;
}

@keyframes moveWave1 {
    to {
        background-position-x: 50px;
    }
}

@keyframes moveWave2 {
    to {
        background-position-x: -200px;
    }
}

@keyframes moveWave3 {
    to {
        background-position-x: 100px;
    }
}


/*Sales*/

#sale {
    padding: 15px 0 50px 0;
}

.sale-title {
    padding: 40px;
}

.sale-title h3 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: var(--pink-dark);
}

.sale-title h3 strong {
    font-weight: 800;
}

.cards-sale {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.card-sale-m {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 25px 0;
    padding: 15px;
    border-radius: 20px;
    width: 315px;
    height: 460px;
    background-color: var(--primary-color-maria);
    color: var(--white);
    cursor: pointer;
}

.card-sale-m:hover {
    transform: scale(1.05);
}

.card-sale-g {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    border-radius: 20px;
    width: 350px;
    height: 510px;
    background-color: var(--pink-dark);
    color: var(--white);
    cursor: pointer;
}

.card-sale-g:hover {
    transform: scale(1.05);
}

.card-sale-m img {
    width: 140px;
}

.two-uni {
    margin: 10px;
    width: 155px;
}

.four-uni {
    width: 230px !important;
}

.card-sale-m p {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0 2px;
    max-width: 140px;
}

.description-p {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0 2px;
    max-width: 140px;
    font-size: .8rem;
    font-weight: 600;
}

.price-p {
    font-size: 1.1rem;
    font-weight: 800;
}

.price-part {
    display: flex;
    align-items: center;
}

.price-part-i {
    font-size: 1.4rem;
    font-weight: 200;
    font-style: italic;
}

.price-part-b {
    font-size: 4rem;
    font-weight: 800;
    line-height: .98;
}

.buy {
    margin: 5px 0;
    padding: 10px;
    box-sizing: border-box;
    height: 50px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    font-size: 1.1rem;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--yellow);
    color: var(--pink-dark);
    text-decoration: none;
}

.buy:hover {
    text-decoration: none;
    border: #8d0d40 solid 1px;
    background: transparent;
    color: var(--yellow);
}

/*Questions*/

#questions {
    padding: 90px;
    color: var(--white);
}

.questions-title {
    font-size: 2.1rem;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
}

.question {
    margin: 1rem 0;
    max-width: 650px;
    font-size: 1rem;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
}

.ans {
    margin: 0.5rem 0;
    max-width: 650px;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}

.line {
    max-width: 650px;
    height: 1px;
    background-color: var(--white);
}


/*Contacts*/

#contacts {
    padding-bottom: 90px;
}

.contatcs-title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.7rem;
    font-weight: 800;
    color: var(--white);
}

.contacts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: var(--white);
}

.contacts-item {
    display: flex;
    align-items: center;
    margin: 10px 30px;
    height: 40px;
}

.contacts-item p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-style: italic;
    margin: 0;
}

.contacts-item a {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-style: italic;
    text-decoration: none;
    color: var(--white);
}

.contacts-item a:hover {
    text-decoration: none;
    color: var(--pink-dark);
}

.icon-whats {
    margin: 0 5px;
    width: 30px;
    height: 30px;
}

.icon-mail {
    margin: 0 5px;
    width: 30px;
    height: 23px;
}

/*footer*/

footer {
    padding: 20px;
    background: var(--white);
}

.logo-footer {
    text-align: center;
}

.logo-footer > a > img {
    width: 135px;
}

/*WhatsApp*/
.whats {
    position: fixed;
    right: 10px;
    bottom: 80px;
    width: 55px;
    z-index: 12;
}

.whats a img {
    width: 100%;
}

/*Animation*/


@keyframes pulsar {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.03);
    }
    100% {
      transform: scale(1);
    }
}
  

@keyframes float {
    0% {
      transform: translatey(-10px);
    }
  
    50% {
      transform: translatey(10px);
    }
  
    100% {
      transform: translatey(-10px);
    }
  }

@-webkit-keyframes slide-top {
    0% {
        -webkit-transform: translateY(100px);
                transform: translateY(100px);
    }
    100% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
                opacity: 1;
    }
}
@keyframes slide-top {
    0% {
        -webkit-transform: translateY(100px);
                transform: translateY(100px);
    }
    100% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
                opacity: 1;
    }
}

@-webkit-keyframes slide-left {
    0% {
        -webkit-transform: translateX(-100px);
                transform: translateX(-100px);
    }
    100% {
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
                opacity: 1;
    }
}
@keyframes slide-left {
    0% {
        -webkit-transform: translateX(-100px);
                transform: translateX(-100px);
    }
    100% {
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
                opacity: 1;
    }
}

/*media query*/

@media (max-width: 450px) {

    :target {
        /*stop 45px above the target*/
        scroll-margin-top: 60px;
    }

    .only-mobile {
        display: block;
    }

    .videos-m video {
        width: 350px
    }

    .card-benefit {
        margin: 0px 0px 15px 0px;
    }

    #questions {
        padding: 70px 30px;
    }

    .contacts-item p {
        font-size: 1rem;
    }

    .contacts-item a {
        font-size: 1rem;
    }

    .whats {
        bottom: 65px;
        width: 50px;
    }
}

@media (min-width: 451px) and (max-width: 800px){

    .only-desktop {
        display: block;
    }

    .banner-arrelique-img {
        width: 350px;
    }
}

@media (min-width: 800px) {

    .only-desktop {
        display: block;
    }

    .banner-arrelique-img {
        width: 450px;
    }
}

