* {
    margin: 0;
}

main {
    --primary-color-maria: #FE1672;
    --pink-dark: #D61261;
    --pink-light: #FF4D9E;
    --yellow: #FFE600;
    --white: #FFFFFF;

    background: var(--primary-color-maria);
}

.bg-pink {
    background-color: var(--primary-color-maria);
}

.logo-sn {
    width: 170px;
}

.navbar {
    background: var(--pink-dark);
}

.nav-m {
    display: flex;
    justify-content: center;
}

.nav-item-m {
    padding: 0px 20px !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--white) !important;
}

.nav-link.active {
    color: var(--white) !important;
}

.banners-m {
    margin: auto;
    padding: 30px 0;
    max-width: 800px;
}

/*Who like*/
.title-who {
    margin-bottom: 15px;
    padding: 15px 0;
    text-align: center;
    background-color: var(--pink-dark);
    color: var(--white);
}

.title-who h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
}

.videos-m {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.videos-m video {
    margin: 30px 15px;
}

/*Benefits*/

#benefits {
    padding: 30px 0;
    background: var(--white);
}

.benefits-title {
    margin: 30px 0;
    padding: 15px 0;
    text-align: center;
    background: var(--pink-dark);
    color: var(--white);
}

.benefits-title h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
}

.content-cards {
    margin: auto;
    max-width: 1060px;
}

.compose-m {
    max-width: 450px;
    color: var(--pink-dark);
}

.compose-m p {
    font-size: 1.5rem;
    font-weight: bold;
}

.cards-m {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-benefit {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 15px 15px 0;
    padding: 20px;
    max-width: 300px;
    min-height: 380px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 30%);
    background: var(--primary-color-maria);
    color: var(--white);

}

.card-benefit p {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}

.font-bold-m {
    font-weight: 800;
}

.icon-height {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.card-benefit img {
    padding: 15px;
    width: 90px;
}