body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

/*Fix background to Safari ios*/
.bg-m {
    height: 100vh;
    width: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(343deg, rgba(255,255,255,1) 0%, rgba(249,79,145,1) 40%, rgba(180,32,76,1) 85%);
    background-repeat: no-repeat;
    background-position: center;

    position: fixed;
    z-index: -1;
}

/*vars*/
#land-page {
    --primary-color-maria: #ED4084;
    --primary-green: #425C41;
    --orange-default: #F4A658;

    /*height: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(343deg, rgba(255,255,255,1) 0%, rgba(249,79,145,1) 40%, rgba(180,32,76,1) 85%);
    background-attachment: fixed;*/
    padding: 20px 0;
}

.circle-h {
    position: absolute;
    top: 70px;
    left: -20px;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background-color: #FB78AB;
    box-shadow: 5px 5px 12px #FFF
}

#header-main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.photo-maria-animation {
    width: 25rem;
    animation: float 6s ease-in-out infinite;
}

.title-gruop {
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
}

.title-effect {
    margin: 0px;
    font-size: 4rem;
    font-family: 'DM Serif Display', serif;
    color: #FFF;
}

.title-effect-woman {
    margin: 0px;
    font-size: 5rem;
    font-family: 'Mrs Saint Delafield', cursive;
    font-weight: lighter;
    color: var(--orange-default);
}

.photo-women {
    max-width: 500px;
}

.bar {
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 0px;
    height: 7rem;
    text-align: center;

    box-shadow: 1px 5px 7px rgba(0, 0, 0, 0.3);
}

.title-bar {
    margin: 0;
    color: #FFF;
    font-size: 2.5rem;
}

.banners-beneficios {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    padding: 50px 0px;
}

.banner-beneficios {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 270px;
    width: 175px;
    margin: 30px;

    border: var(--primary-color-maria) solid 1px;
    box-shadow: 1px 5px 7px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.text-beneficios {
    color: #FFF;
}

/*To who*/

.bar-who {
    background-color: #FFF;
}

.title-bar-who {
    color: var(--primary-color-maria);
}

.banners-who {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1000px;
    padding: 50px 0px;
}

.banner-who {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 200px;
    width: 200px;
    margin: 30px;
    border: var(--primary-color-maria) solid 1px;
    box-shadow: 1px 5px 7px rgba(0, 0, 0, 0.3);
    border-radius: 50%;

    background-color: #FFF;
    color: var(--primary-color-maria);
}

/*Sale*/

.sale-titles{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.sale {
    margin: 0;
    font-size: 7rem;
    text-align: center;
    color: var(--primary-color-maria);
    opacity: .5;
}

.sale-min {
    position: absolute;
    margin: 0;
    font-family: 'Yellowtail', cursive;
    font-size: 3rem;
    color: var(--orange-default);
}

.card-sale:hover {
    transform: scale(1.1);
}

.card-sale {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1.5rem;
    background-color: #ffffff8c;
    width: 320px;
    border-radius: 10px;
    box-shadow: 2px 5px 7px rgba(255, 255, 255, 0.5);

    transition: 500ms linear;
}

.line {
    margin: 0;
    width: 80%;
    height: 3px;
    background-color: var(--primary-color-maria);
}

.photo-maria-sale {
    width: 25rem;
}

.name-product-ld {
    margin: 0;
    padding: 10px 0;
    font-weight: bold;
    font-size: 1.2rem;
    color: #FFF;
}
.price-product-ld {
    margin: 0;
    font-weight: bold;
    font-size: 2rem;
    color: var(--primary-color-maria);
}

.btn-pay {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    text-decoration: none;
    background-color: var(--primary-color-maria);
    color: #FFF;
    font-weight: bold;
}

/*loop*/
@keyframes moviment {

    25% {
        transform: translateY(-20px);
        transform: translateX(20px);
    }
  
    50% {
        transform: translateY(20px);
    }
  
    75% {
        transform: translateY(20px);
        transform: translateX(-20px);
    }
  
    100% {
        transform: translateY(-20px);
        transform: translateX(20px);
    }
}

@keyframes float {
    0% {
      transform: translatey(0px) rotate(12deg);
    }
  
    50% {
      transform: translatey(-30px) rotate(8deg);
    }
  
    100% {
      transform: translatey(0px) rotate(12deg);
    }
}

@media (max-width: 600px) {

    .photo-maria-sale, .photo-maria-animation {
        width: 21rem;
    }
    
    .photo-women {
        width: 22rem;
    }
    
}